name: remote-ops

on:
  workflow_dispatch:
    inputs:
      command:
        description: "Bash command(s) to run"
        required: true
        type: string
      workdir:
        description: "Working directory (optional)"
        required: false
        default: "."
        type: string
      ref:
        description: "Git ref to checkout (optional)"
        required: false
        default: ""
        type: string

permissions: write-all

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Run
        shell: bash
        working-directory: ${{ inputs.workdir }}
        run: |
          set -euo pipefail
          ${{
            inputs.command
          }}
